/*** MOBILE ***/


.header .navbar{
    background-color: rgba(0, 0, 0, 1);
}

.navbar-dark .navbar-toggler {
    padding: 0.5rem 0.75rem;
    color: #fff;
    border-color: #fff;
}

.hamb-line{
    display: block;
    height: 2px;
    width: 24px;
    background-color: #fff;

    margin-bottom: 8px;
}

.hamb-line:last-of-type{
    margin-bottom: 0;
}

.header .navbar .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
    text-align: center;
}

.header .navbar .navbar-nav .nav-link{
    display: inline-block;
    width: 70%;
    border-bottom: 1px solid transparent;

    font: 400 14px 'Myriad Pro', sans-serif;
    line-height: 28px;
    letter-spacing: -0.25;
    text-transform: uppercase;
    color: rgba(222, 222, 222, 0.75);

    transition: 0.1s linear;
}

.header .navbar .navbar-nav .nav-link:hover,
.header .navbar .navbar-nav .nav-link.active{
    border-bottom: 1px solid #fff;
    color: rgba(225, 225, 225, 1);
}

/*** SM - 576 
@media(min-width:576px){
}***/

/*** MD - 768 ***/
@media(min-width:768px){
    .header .navbar .navbar-nav .nav-item{
        margin-bottom: 1rem;
    }
}

/*** LG - 992 ***/
@media(min-width:992px){
    .header .navbar{
        padding: 32px 0;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .header .navbar .navbar-nav .nav-item{
        margin-bottom: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .header .navbar .navbar-nav .nav-link,
    .header .navbar .navbar-nav .nav-link.active,
    .header .navbar .navbar-nav .nav-link:hover{
        width: 100%;
        border-bottom: none;
    }
}

/*** XL - 1200 
@media(min-width:1200px){
}***/

/*** XXL - 1400 
@media(min-width:1400px){
}***/